<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="logo">MyBlog</a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/compose">Compose</a></li>
    </ul>
  </div>
</nav>
